spring:
  application:
    name: open-api-collector

server:
  port: 5100

# Actuator
security:
  basic:
    enabled: true
  user:
    name: <myUserName>
    password: <myPassword>

management:
  contextPath: /admin
  port: 5101
  security:
    enabled: true

# Swagger
springfox:
  documentation:
    swagger:
      v2:
        path: /docs/api
        
# APIs

# Spotify
oac:
  spotify:
    credentials:
      cliendId: <myClientId>
      clientSecret: <myClientSecret>
    urls:
      tokenUrl:
        type: POST
        url: https://accounts.spotify.com/api/token
      searchUrl:
        type: GET
        url: https://api.spotify.com/v1/search